* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #eaab00;
}

#clock {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 0.4em;
    margin-bottom: 0.1em;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#listsWrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 1em;
}

.tripsListWrapper {
    position: absolute;
    display: table-cell;
    width: 50%;
    margin: 0;
    padding: 0;
}

#tripsTableLeft {
    left: 0;
}

#tripsTableRight {
    right: 0;
}

.trip {
    background: white;
    margin: 0;
    margin-bottom: 1em;
    padding: 1em;
}

.error_image {
    height: 42px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

#tripsTableRight .trip {
    margin-left: 0.5em;
    margin-right: 1em;
}

#tripsTableLeft .trip {
    margin-left: 1em;
    margin-right: 0.5em;
}

.shortName {
    font-size: 40px;
    font-weight: bold;
}

.departureTime {
    text-align: right;
    overflow: visible;
    white-space: pre;

    font-size: 40px;
    font-weight: bold;

    float: right;
}

.liveIcon {
    height: 0.5em;
    vertical-align: top;
}

.longName {
    max-width: 70%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.stopCode {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    font-size: 20px;

    float: right;
}

.comingSoon {
    animation: blink 1.5s ease-in infinite;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}